<h1>USER: </h1> <%= @user.username %><br />
<h2>Create Appearance ----------------------- ></h2><%= link_to "new appearance", new_appearance_path %><br />
<h2>See All Episodes ------------------></h2><%= link_to "all episodes", episodes_path %><br />
<h2>See All Guests --------------></h2><%= link_to "all guests", guests_path%><br />
